body
{
    font-family: Calibri;
    
    color: black;
    background-color: lightgray;
}
.tab
{
    padding: 0px 25px;
    height: 35px;
    background-color: gray;
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.tab.selected
{
    background-color: white;
    color: black;
}

#tab_container
{
    margin: auto 20vw;
}

#page_container
{
    background-color: white;
    padding: 25px;
    margin: auto 20vw;
}
.page
{
    width: 100%;
    display: none;
}
.page.selected
{
    width: 100%;
    display: inline-block;
}

textarea
{
    width: 100%;
    min-height: 100px;
    resize: vertical;
    font-family: inherit;
    font-size: inherit;
}

input
{
    height: 25px;
    width: 100%;
}

input[type="button"]
{
    background-color: gray;
    border: 0px;
    color: white;
}

select
{
    height: 25px;
    width: 100%;
    font-size: inherit;
}

.category_td
{
    width: 30%;
    vertical-align: text-top;
}

.input_td
{
    width: 70%;
}

.characteristic_td
{
    vertical-align: central;
}

.separator_row
{
    height: 20px;
}

.separator
{
    height: 20px;
    width: 100%;
}

a
{
    color: inherit;
    text-decoration: inherit;
}

a:hover
{
    cursor: default;
}

a:visited
{
    color: inherit;
    text-decoration: inherit;
}