body
{
    font-family: Calibri;
    color: black;
    background-color: lightgray;
}
.tab
{
    padding: 0px 25px;
    height: 35px;
    background-color: gray;
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.tab.selected
{
    background-color: white;
    color: black;
}
#page_container
{
    padding: 25px;
    background-color: white;
}
.page
{
    width: 100%;
    display: none;
}
.page.selected
{
    display: inline-block;
}
